<!-- start footer -->
<footer class="no-print3 footer-marketing-agency footer-light padding-50px-tb border-top border-color-medium-gray">
    <div style="padding:0 4rem">
        <div class="row align-items-center justify-content-between" style="padding: 0 15px; padding-left:30px">
            <div class="col-12 col-xl-5 col-md-6 order-2 order-xl-1 sm-margin-15px-bottom">
                <ul
                    class="alt-font footer-horizontal-link d-flex flex-column flex-sm-row justify-content-center justify-content-md-start text-center text-uppercase text-small">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-us">Nosotros</a></li>
                    <li><a href="/promise">Compromiso</a></li>
                    <li><a href="/products">Productos</a></li>
                </ul>
            </div>
            <div class="col-12 col-xl-5 col-md-6 order-3 text-center text-md-end last-paragraph-no-margin">
                <p class="alt-font text-small text-uppercase">&copy; 2024 Powered by <a href="https://www.agenciarevive.cl/"
                        target="_blank"
                        class="text-decoration-line-bottom text-extra-dark-gray font-weight-500">Agencia Revive</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>
<!-- end scroll to top -->
<!-- javascript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/theme-vendors.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

