 <!-- start page title -->
 <section class="half-section parallax " data-parallax-background-ratio="0.5" style="background-image:url('assets/images/arquinnova-portfolio-bg.jpg'); " >
   
    <div class="container">
        <div class="row align-items-stretch justify-content-center extra-small-screen">
            <div class="col-12 col-xl-6 col-lg-7 col-md-8 page-title-extra-small text-center d-flex justify-content-center flex-column" style="color:white !important">
                <!-- <h1 class="alt-font text-gradient-sky-blue-pink margin-15px-bottom d-inline-block texto" style="color:white !important">Portfolio switch image three column</h1> -->
                <h2 class="text-extra-dark-gray alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom" style="color:white !important">Portfolio switch image</h2>
            </div>
        </div>
    </div>
    
</section>
<br>
<!-- end page title -->
<!-- start section -->
<section class="pt-0 frente">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- start filter navigation -->
                <!-- <ul class="portfolio-filter grid-filter nav nav-tabs justify-content-center border-0 text-uppercase font-weight-500 alt-font padding-6-rem-bottom md-padding-4-half-rem-bottom sm-padding-2-rem-bottom">
                    <li class="nav active"><a data-filter="*" href="#">All</a></li>
                    <li class="nav"><a data-filter=".branding" href="#">Branding</a></li>
                    <li class="nav"><a data-filter=".graphics" href="#">Graphics</a></li>
                    <li class="nav"><a data-filter=".logos" href="#">Logos</a></li>
                    <li class="nav"><a data-filter=".photography" href="#">Photography</a></li>
                </ul> -->
                <!-- end filter navigation -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 filter-content">
                <ul class="portfolio-switch-image portfolio-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>
                    <!-- start portfolio item -->
                  <li class="grid-item wow animate__fadeIn">
                        <a href="single-project-page-01.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-12-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-12-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Magazine Cover</span>
                                    <span class="text-medium d-block text-medium-gray">Most wonderful place</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="" data-wow-delay="0.2s">
                        <a href="single-project-page-02.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-13-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-13-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Biolator Series</span>
                                    <span class="text-medium d-block text-medium-gray">Design and create brand</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-03.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-11-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-11-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Daimler Financial</span>
                                    <span class="text-medium d-block text-medium-gray">These are good suggestions</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-04.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-10-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-10-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Potato Oslands</span>
                                    <span class="text-medium d-block text-medium-gray">You have a good family</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-05.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-8-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-8-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Skoda Corporate</span>
                                    <span class="text-medium d-block text-medium-gray">Carmen is a good wife</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-01.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-7-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-7-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Jeremy Dupont</span>
                                    <span class="text-medium d-block text-medium-gray">Everything was in good</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-02.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-6-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-6-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Bill Gardner</span>
                                    <span class="text-medium d-block text-medium-gray">Quit talking and begin doing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-03.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-5-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-5-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">The Aparthotel</span>
                                    <span class="text-medium d-block text-medium-gray">Opportunity in every difficulty</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-04.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-3-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-3-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Truenorth Web</span>
                                    <span class="text-medium d-block text-medium-gray">You are working on something</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-05.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-2-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-2-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Armchair Mojo</span>
                                    <span class="text-medium d-block text-medium-gray">You learn more from failure</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="">
                        <a href="single-project-page-01.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-1-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-1-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Cortifiel Look</span>
                                    <span class="text-medium d-block margin-one-bottom text-medium-gray">Imagine your life</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item graphics logos wow animate__fadeIn" data-wow-delay="0.4s">
                        <a href="single-project-page-02.html">
                            <div class="portfolio-box">
                                <div class="portfolio-image border-radius-4px">
                                    <img src="assets/images/fabrica/fabrica-14-arquinnova.jpg" alt="" />
                                    <img class="portfolio-switch-image" src="assets/images/fabrica/fabrica-14-arquinnova.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption padding-30px-tb lg-padding-20px-tb xs-padding-15px-tb">
                                    <span class="alt-font text-extra-dark-gray font-weight-500">Mass Productions</span>
                                    <span class="text-medium d-block text-medium-gray">Failure will never overtake</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
