  <!-- start page title -->
  <section class="half-section parallax" data-parallax-background-ratio="0.5" style="background-image:url('assets/images/productos/arquinnova-producto-bg.jpg');">
    <div class="container">
        <div class="row align-items-stretch justify-content-center extra-small-screen">
            <div class="col-12 col-xl-6 col-lg-7 col-md-8 page-title-extra-small text-center d-flex justify-content-center flex-column">
                <!-- <h1 class="alt-font text-gradient-sky-blue-pink margin-15px-bottom d-inline-block" style="color:white !important">Revisa</h1> -->
                <h2 class="text-extra-dark-gray alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom" style="color:white; z-index: 3;">Nuestros Productos</h2>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="pt-0 padding-five-lr xs-no-padding-lr">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 shopping-content">
                <ul class="product-listing shop-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <!-- start shop item -->
                    <li class="grid-item wow animate__fadeIn">
                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->
                            <div class="product-image border-radius-6px">
                                <a href="single-product.html">
                                    <img class="default-image" src="assets/images/productos/jacuzzi-1-arquinnova.jpg" alt=""/>
                                    <img class="hover-image" src="https://via.placeholder.com/768x979" alt=""/>
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                <div class="product-hover-bottom text-center padding-30px-tb">
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to cart"><i class="feather icon-feather-shopping-cart"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Quick shop"><i class="feather icon-feather-zoom-in"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist"><i class="feather icon-feather-heart"></i></a>
                                </div>
                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="single-product.html" class="text-extra-dark-gray font-weight-500 d-inline-block">Jacuzzi Hot tube 2,2 x 2,2mts</a>
                                <div class="product-price text-medium">$ 2.490.000</div>
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    <!-- end shop item -->
                    <!-- start shop item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.2s">
                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->
                            <div class="product-image border-radius-6px">
                                <a href="single-product.html">
                                    <img class="default-image" src="assets/images/productos/curacavi6-1-arquinnova.jpg" alt=""/>
                                    <img class="hover-image" src="https://via.placeholder.com/600x780" alt=""/>
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                <div class="product-hover-bottom text-center padding-35px-tb">
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to cart"><i class="feather icon-feather-shopping-cart"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Quick shop"><i class="feather icon-feather-zoom-in"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist"><i class="feather icon-feather-heart"></i></a>
                                </div>
                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="single-product.html" class="text-extra-dark-gray font-weight-500 d-inline-block">Modelo Curacaví 6,3mts</a>
                                <div class="product-price text-medium">$ 3.800.000</div>
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    <!-- end shop item -->
                    <!-- start shop item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.4s">
                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->
                            <div class="product-image border-radius-6px">
                                <a href="single-product.html">
                                    <img class="default-image" src="assets/images/productos/vitacura-1-arquinnova.jpg" alt=""/>
                                    <img class="hover-image" src="https://via.placeholder.com/600x765" alt=""/>
                                    <span class="product-badge orange">hot</span>
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                <div class="product-hover-bottom text-center padding-35px-tb">
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to cart"><i class="feather icon-feather-shopping-cart"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Quick shop"><i class="feather icon-feather-zoom-in"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist"><i class="feather icon-feather-heart"></i></a>
                                </div>
                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="single-product.html" class="text-extra-dark-gray font-weight-500 d-inline-block">Modelo Vitacura 9x3,4mts</a>
                                <div class="product-price text-medium">$ 5.190.000</div>
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    <!-- end shop item -->
                    <!-- start shop item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.6s">
                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->
                            <div class="product-image border-radius-6px">
                                <a href="single-product.html">
                                    <img class="default-image" src="assets/images/productos/pucon-1-arquinnova.jpg" alt=""/>
                                    <img class="hover-image" src="https://via.placeholder.com/600x765" alt=""/>
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                <div class="product-hover-bottom text-center padding-35px-tb">
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to cart"><i class="feather icon-feather-shopping-cart"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Quick shop"><i class="feather icon-feather-zoom-in"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist"><i class="feather icon-feather-heart"></i></a>
                                </div>
                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="single-product.html" class="text-extra-dark-gray font-weight-500 d-inline-block">Modelo Pucón 4,8 x 2,6mts</a>
                                <div class="product-price text-medium">$ 3.500.000</div>
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    <!-- end shop item -->
                    <!-- start shop item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.8s">
                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->
                            <div class="product-image border-radius-6px">
                                <a href="single-product.html">
                                    <img class="default-image" src="assets/images/productos/futaleufu-1-arquinnova.jpg" alt=""/>
                                    <img class="hover-image" src="https://via.placeholder.com/600x765" alt=""/>
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                <div class="product-hover-bottom text-center padding-35px-tb">
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to cart"><i class="feather icon-feather-shopping-cart"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Quick shop"><i class="feather icon-feather-zoom-in"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist"><i class="feather icon-feather-heart"></i></a>
                                </div>
                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="single-product.html" class="text-extra-dark-gray font-weight-500 d-inline-block">Modelo Futaleufu 7 x 3,4mts</a>
                                <div class="product-price text-medium">$ 4.150.000</div>
                                <!-- <div class="product-price text-medium"><del>$480.00</del>$470.00</div> -->
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    <!-- end shop item -->
                    <!-- start shop item -->
                    <li class="grid-item wow animate__fadeIn">
                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->
                            <div class="product-image border-radius-6px">
                                <a href="single-product.html">
                                    <img class="default-image" src="assets/images/productos/nautilus-1-arquinnova.jpg" alt=""/>
                                    <img class="hover-image" src="https://via.placeholder.com/600x765" alt=""/>
                                    <span class="product-badge green">sale</span>
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                <div class="product-hover-bottom text-center padding-35px-tb">
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to cart"><i class="feather icon-feather-shopping-cart"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Quick shop"><i class="feather icon-feather-zoom-in"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist"><i class="feather icon-feather-heart"></i></a>
                                </div>
                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="single-product.html" class="text-extra-dark-gray font-weight-500 d-inline-block">Modelo Nautilus 5,5 x 2,3mts</a>
                                <div class="product-price text-medium">$ 3.890.000</div>
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    <!-- end shop item -->
                    <!-- start shop item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.2s">
                        <div class="product-box margin-45px-bottom lg-margin-25px-bottom xs-no-margin-bottom">
                            <!-- start product image -->
                            <div class="product-image border-radius-6px">
                                <a href="single-product.html">
                                    <img class="default-image" src="https://via.placeholder.com/600x765" alt=""/>
                                    <img class="hover-image" src="https://via.placeholder.com/600x765" alt=""/>
                                </a>
                                <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                <div class="product-hover-bottom text-center padding-35px-tb">
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to cart"><i class="feather icon-feather-shopping-cart"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Quick shop"><i class="feather icon-feather-zoom-in"></i></a>
                                    <a href="#" class="product-link-icon move-top-bottom" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Add to wishlist"><i class="feather icon-feather-heart"></i></a>
                                </div>
                            </div>
                            <!-- end product image -->
                            <!-- start product footer -->
                            <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                <a href="single-product.html" class="text-extra-dark-gray font-weight-500 d-inline-block">Bordes de Piscinas - Losetas</a>
                                <div class="product-price text-medium">$ 6.500 - $ 8.500</div>
                            </div>
                            <!-- end product footer -->
                        </div>
                    </li>
                    <!-- end shop item -->
                   
                    
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
